/*o asterisco (*) é um seletor universal para alterar toda pagina*/
*{ 
    margin-right: 0; /*altera o espaçamento externo*/
    padding: 0; /*altera o espaçamento interno*/
}

 /*INICIO CABECALHO*/
.cabecalho {
    background-color: bisque; /*cor de fundo*/
    color: black; /*cor*/
    display: flex; /*utilizaremos a propriedade flex para organizar os itens do cabeçalho, lado a lado*/
    justify-content: space-around; /*alinha as imagens e os textos com espaçamento entre eles(estamos usando os itens no cabeçalho)*/
    padding: 24px 0; /*altera o espaçamento interno*/
} 

.cabecalho-imagem {
    width: 180px; /*largura*/
    border-radius: 30px; /*para definir bordas arrendondadas da imagem*/
}

.cabecalho-titulo {
    padding: 30px 0; /*altera o espaçamento interno,o primeiro valor bordas verticais (superior e inferior) e o
    segundo valor bordas horizontais(esquerda e direita)*/
    font-size: 44px; /*tamanho da fonte*/
    font-family: arial, helvetica, sans-serif,/*especifica a fonte de um elemento*/
}

   .cabecalho-lista-item{
    display: inline-block; /*o valor inline-block na propriedade display, os itens da lista ficam lado a lado*/
    padding: 0 24px; /*altera o espaçamento interno*/    
    margin-top: 40px; /*define as dimensões da margem superior*/ 
    font-size: 20px; /*tamanho da fonte*/
    font-family: arial, helvetica, sans-serif,/*especifica a fonte de um elemento  
}
